extends layout/main-layout.pug
block styles
  link(rel="stylesheet", href="/css/about.css")
block title
  title About
block navbar
  case (isLoggedIn)
    when true
      include navbar/nav-logged-in
    default
      include navbar/nav-logged-out

block content
    h1 UNO Game Rules
    ul#rules 
      li Player can create a game in the lobby and once that game has 4 people, the game begins.
      li Players can chat in lobby and in-game.
      li Each player begins with 7 cards.
      li The game begins with a random first player. 
      li Player will have the option to draw a card even if they have an executable card.
      li Player must match either by color or number, or the symbol/Action. 
      li Action cards follow standard rules except draw four.
      li Draw four has a little twist where the executer can be challenged by the victim, if challenge is success, executer draws 4 cards otherwise victim draws 6 cards.
      li A successful challenge means the executer doesn't have any other playable card besides any wild card and failed challenge means they do.
      li If player with one card left does not declare uno and they get caught, they will need to draw 2 cards. Thses two 2 cards draws immediately after they played and before next player's turn. 