extends layout/main-layout.pug

block title
  title Let's play Uno

block navbar
  case (isLoggedIn)
    when true
      include navbar/nav-logged-in
    default
      include navbar/nav-logged-out

block content
  div(
    class="container"
    )
    div(class="jumbotron text-center" style="background-image: url('/images/unoWelcomeimage.jpg');")
      br
      br
      br
      br
      br
      br
      br
      h1(class="display-4")
        b Let's play UNO
      br
      br
      br
      br
      br
      br
      br
      a(class="btn btn-success btn-lg" href="/lobby" role="button") Start the game
  hr
