li(class="nav-item")
  a(class="nav-link btn btn-danger text-light" href="/login"  data-bs-toggle="tooltip" data-bs-placement="top" title="Welcome") Login
li(class="nav-item")
  a(class="nav-link btn btn-danger text-light" href="/signup"  data-bs-toggle="tooltip" data-bs-placement="top" title="Wanna Try?") Register